<h1>Projects</h1>


<% @projects = @projects.page(params[:page]) -%>
<%= paginate @projects %>

<table class="table table-striped table-hover table-condensed" style="width: auto;">
	<thead><tr><th></th><th class="span5">Name</th></tr></thead>
	<tbody>
		<% @projects.each do |project| -%>
			<tr>
				<td><a href="<%= admin_project_path(project) %>" data-confirm="Are you sure?" data-method="delete" rel="nofollow"><i class="icon-trash" style="vertical-align: middle"></i></a></td>
				<td><%= link_to project.name, admin_project_path(project) %></td>
			</tr>
		<% end -%> 
	</tbody>
</table>

<h3>Create new project</h3>

<%= form_tag(admin_projects_path, :class => "form-inline") do %>
	<%= text_field_tag "project[name]", '', :placeholder => "Name" %>
	<%= submit_tag "Create project", :class => 'btn btn-success' %>
<% end %>
