<h1>Administrators</h1>


<% @admins = @admins.page(params[:page]) -%>
<%= paginate @admins %>

<table class="table table-striped table-hover table-condensed" style="width: auto;">
	<thead><tr><th></th><th class="span4">Email</th></tr></thead>
	<tbody>
		<% @admins.each do |admin| -%>
			<tr>
				<td><a href="<%= admin_admin_path(admin) %>" data-confirm="Are you sure?" data-method="delete" rel="nofollow"><i class="icon-trash" style="vertical-align: middle"></i></a></td>
				<td><%= link_to admin.email, admin_admin_path(admin) %></td>
			</tr>
		<% end -%> 
	</tbody>
</table>

<h3>Create new admin account</h3>

<%= form_tag(admin_admins_path, :class => "form-inline") do %>
	<%= text_field_tag "admin[email]", '', :placeholder => "Email", :autocomplete => "off" %>
	<%= password_field_tag "admin[password]", '', :placeholder => "Password", :autocomplete => "off" %>
	<%= submit_tag "Create account", :class => 'btn btn-success' %>
<% end %>
